################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Softela.PestScheduler/.vs/Softela.PestScheduler
/.vs
**/bin/
**/obj/

/Softela.PestScheduler/.vs/ProjectEvaluation
